<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background-color: aqua;
        
        }
        div>ul
        {
            display: flex;
        }
    </style>
</head>
<body>
    <nav id="top">
        <div id="logo">Jspider</div>
        <div id="menu">
    <h1 >Jspider</h1>
    <u1>
    <ol>Home</ol>
    <ol>Register</ol>
    <ol>Login</ol>
    <ol>about</ol>
    <ol>Join Now</ol>
    <ol>signup</ol>
    </u1>
    </div>
</body>
</html>
    