<!DOCTYPE html>
<html>
<head>
	<title>html Tables</title>
</head>
<body>
	<h1>Document</h1>
	<table>
		<tr>
			<th>random Names</th>
		<p>
			This is a paragraph me,Ian!</p>
		<p>
			This is another paragraph about me,Ian!
		</p>
		<h1>Free Software</h1>
		<tr>
			<td>1.Linux</td>
		<tr>
			<td>2.Apache</td>
		</tr>
			<td>3.MYSQL</td>
		<tr>
			<td>4.PHP</td>
		</tr>
        <table border='2px'>
        	<tr>
        		<th colspan="2">Random Names</th></tr>
        		<tr>
        			<td>J.Doe</td>
        			<td>P.Day</td>
        		</tr>
        		<tr>
        			<td>R.Bob</td>
        			<td>T.Sam</td>
        		</tr>
        		<tr>
        			<td colspan="2">Contact me for details</td>
        	    </tr>
        </table>
    <h1>Hello</h1>
	</table>
</body>
</html>
