<!DOCTYPE html>
<html>
<head>
	<title>Trainers information </title>
</head>
<body>
	<table border="20px">
	<tr>
		<th>Tname</th>
		<th>Tsal</th>
		<th>address</th>
		<th>subject</th>
		<th>phone num</th>
	</tr>
	<tr>
		<td>yyy</td>
		<td>50000</td>
		<td rowspan="5">maratahalli</td>
		<td>python</td>
		<td>9876558823</td>
	</tr>
	<tr>
		<td>xyz</td>
		<td>80000</td>
		
		<td>web</td>
		<td>9876552123</td>
	</tr>
	<tr>
		<td>zyx</td>
		<td>100000</td>
		
		<td>javascript</td>
		<td>9874567123</td>
	</tr>
	<tr>
		<td>xy</td>
		<td>90000</td>
		
		<td>html</td>
		<td>9876558973</td>
	</tr>
	<tr>
		<td>abc</td>
		<td>70000</td>
		
		<td>css</td>
		<td>9879052123</td>
	</tr>
	</table>
</body>
</html>
