<!DOCTYPE html>
<html>
<head>
     <title>Text formatting tages</title>
</head>
<body> 
	<p>supriya afgh nhy qwer nkljm ghj nhy mjukligsjklnxbh hyjs hjkk bgthy njumkim hjkl asdj </p>
	<b>supriya</b>
	<strong>supriya</strong>
	<hr>
	<u>supriya</u>
	<ins>supriya</ins>
	<s>supriya</s>
	<strike>supriya</strike>
	<del>supriya</del>
	<mark>supriya</mark>
	<address>supriya</address>
	<code>supriya</code>
	<sub>supriya</sub>
	<sup>supriya</sup>
	<span>supriya</span>
	<i>supriya</i>
	<em>supriya</em>
	a<sup>2</sub>
	a<sub>2</sub>
</body>
</html>

